<%= form_with(model: tweet) do |form| %>
  <% if tweet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <%= form.label :'@', class:"input-group-text", id:"basic-addon1" %>
    <%= form.text_field :userName, class:"form-control", placeholder:"Username" %>
    <%= form.label :"ID", class:"input-group-text", id:"basic-addon1" %>
  </div>

  <div class="input-group">
    <%= form.label :descripcion, class:"input-group-text" %>
    <%= form.text_area :descripcion, class:"form-control" %>
  </div>

  <div class="text-end mt-3">
    <%= form.submit class:"btn btn-success" %>
  </div>
<% end %>
