<p style="color: green"><%= notice %></p>

<h1 class="text-center">Tweets</h1>

<div>
  <%= form_with url: "tweets/buscar", method: :post do |form| %>
    <div class="input-group mb-3 px-5">
      <%= form.text_field :f, class: "form-control" %>
      <%= form.submit "Buscar por ID", class: "btn btn-outline-secondary" %>
    </div>
  <% end %>
</div>

<div id="tweets">
  <% @tweets.each do |tweet| %>

    <div class="card text-left m-5">
      <div class="card-header">
        @<%= tweet.userName %>_<%= tweet.id %>
      </div>
      <div class="card-body">
        <h6>Descripcion</h6>
        <p class="card-text"><%= tweet.descripcion %></p>
        <%= link_to "Ver Tweet", tweet, class:"btn btn-info" %>
      </div>
      <div class="card-footer text-body-secondary">
        Creado <%= tweet.created_at.strftime("%d-%m-%Y %H:%M") %>
        <% if tweet.updated_at != tweet.created_at %>
           - Editado <%= tweet.updated_at.strftime("%d-%m-%Y %H:%M") %>
        <% end %>
      </div>
    </div>

  <% end %>
</div>

<%= link_to "Nuevo tweet", new_tweet_path %>

<%= link_to "Ver mas", tweets_path(:v => 10+params[:v].to_i) %>
